body { 
  background: url(./images/cloud-blue-sky.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}



li {
  list-style-type: none;
}



h1, h2, h3, h4 {
  color: black;
  text-align: center
}

h1 {
  font-size: 48pt;
}



.main {
    text-align: center;
}

.uvGreen{
	background-color: green;
}

.uvYellow{
	color: black;
	background-color: yellow;
}

.uvRed{
	background-color: red;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
  margin: 20px;
  
}

.col-sm-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  /* border: 3px double white; */
  margin: 20px;
}

#card-header {
  font-size: 16pt;
  font-weight: bold;
}

.city-header {
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  color: black;
  
}

.header-background {
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
 
}

.card {
  align-items: center;
}

.card-header {
  margin: 20px;
  background: lightskyblue;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
}

.header {
  font-size: 46pt;
  border: none;
}

/* #search-bar {
  border: none
} */

#search-input-bar {
  margin: 20px;
  border-radius: 5px;
  
}

.history-button {
margin: 5px;
background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
}

.cloud{ 
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
}


#search-bar {
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
  margin: 20px;
  text-align: center;
}

#add-to-search-history {
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
  margin: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
}